// _variable.scss

$font-family: "Mulish", sans-serif;

// Color Variables
$color-black: #000;
$color-white: #fff;
$color-gray: #666;
$color-dark-gray: #333;
$color-primary: #458FF6;
$color-light-blue: #67C3F3;
$color-dark-blue: #5A98F2;
$color-hover: rgba(69, 143, 246, 0.5);
$color-border: #ccc;
$color-tertiary: #666;

$header-padding: 22px 14%;
$navbar-font-size: 18px;
$navbar-font-weight: 700;
$service-title-font-size: 36px;
$service-title-font-weight: 700;
$description-font-size: 18px;
$description-font-weight: 300;
$border-radius: 10px;
