@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200..1000&display=swap");
html {
  scroll-behavior: smooth;
  font-family: "Mulish", sans-serif;
}

body {
  font-family: "Mulish", sans-serif;
  overflow-x: hidden !important;
  height: 100%;
}

nav {
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 22px 14%;
  background: transparent;
  border-bottom: 1px solid transparent;
}
nav.scrolled {
  background: rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid #ccc;
  padding: 8px 14%;
}
nav .logo-container {
  display: flex;
  align-items: center;
}
nav .navbar {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
nav .navbar li {
  margin-left: 30px;
  font-size: 18px;
  font-weight: 700;
}
nav .navbar li a {
  display: block;
  padding: 6px 12px;
  text-decoration: none;
  color: #333;
}
nav .navbar li a:hover, nav .navbar li a.visited {
  color: black;
  font-weight: bold;
}
nav #menu-icon {
  display: none;
}
@media (max-width: 768px) {
  nav #menu-icon {
    display: block;
    cursor: pointer;
  }
}
@media (max-width: 768px) {
  nav .navbar {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
  }
  nav .navbar li {
    margin: 10px 0;
  }
  nav .navbar.active {
    display: flex;
  }
}

.homepage-container {
  background: url("@/assets/images/home/element.png") no-repeat;
  background-position: left 0, 18%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14%;
  flex-wrap: wrap;
}
.homepage-container .text-section {
  flex: 1;
  max-width: 35%;
}
.homepage-container .text-section .title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
  line-height: 56px;
  white-space: pre-line;
}
.homepage-container .text-section .description {
  margin: 25px 0 0 0;
  font-size: 22px;
  line-height: 32px;
  color: #666;
}
.homepage-container .text-section .home-btn {
  width: 200px;
  height: 56px;
  border: none;
  border-radius: 50px;
  font-size: 18px;
  font-weight: 700;
  margin: 48px 0 0 0;
  background-color: #458FF6;
  color: white;
}
.homepage-container .text-section .home-btn:hover {
  background-color: transparent;
  border: 1px solid #458FF6;
  color: #458FF6;
  cursor: pointer;
}
.homepage-container .image-section {
  flex: 1;
  max-width: 65%;
  text-align: right;
}
.homepage-container .image-section .homepage-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 992px) {
  .homepage-container {
    padding: 112px 10%;
  }
  .homepage-container .text-section {
    max-width: 50%;
  }
  .homepage-container .image-section {
    max-width: 50%;
  }
}
@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column;
    align-items: center;
  }
  .homepage-container .text-section {
    max-width: 100%;
    text-align: center;
  }
  .homepage-container .text-section .title {
    margin: 30px 0 0 0;
    font-size: 26px;
    line-height: 28px;
  }
  .homepage-container .text-section .description {
    font-size: 16px;
    line-height: 28px;
  }
  .homepage-container .image-section {
    max-width: 100%;
    text-align: center;
  }
  .homepage-container .image-section .homepage-image {
    margin-top: 20px;
  }
}

#services {
  background: url("@/assets/images/home/bg_element.png") no-repeat;
  background-size: 86%;
  background-position: left bottom;
}
#services .services {
  padding: 102px 198px;
  min-height: 100vh;
  text-align: center;
}
@media (max-width: 992px) {
  #services .services {
    padding: 0 20px;
  }
}
#services .our-service {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
}
#services .service-title {
  position: relative;
}
#services .service-title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: black;
  border-radius: 2px;
  margin: 22px 0;
}
#services .service-description {
  padding: 0 120px;
  margin: 54px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: center;
}
@media (max-width: 768px) {
  #services .service-description {
    padding: 0 20px;
    margin: 30px 0 0 0;
  }
}
#services .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
}
#services .cards .card {
  max-width: 350px;
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 2rem;
  box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
  border-radius: 10px;
  background-color: white;
  text-align: left;
  margin: 1rem;
}
#services .cards .card h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 56px;
}
#services .cards .card p {
  opacity: 0.6;
}
#services .cards .card img {
  margin: 0 0 22px 0;
}
@media (max-width: 992px) {
  #services .cards {
    margin: 3rem 0 0 0;
  }
  #services .cards .card {
    flex: 1 1 45%;
  }
}
@media (max-width: 768px) {
  #services .cards .card {
    flex: 1 1 100%;
  }
}
#services .service-btn {
  margin: 3rem 0;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #458FF6;
  border-radius: 20px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  color: #458FF6;
  font-weight: bold;
  font-size: 16px;
}
#services .service-btn:hover {
  background-color: #458FF6;
  color: #fff;
}

.healthcare-container {
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6% 18% 0;
  gap: 134px;
}
.healthcare-container .text-section {
  flex: 1;
  max-width: 40%;
}
.healthcare-container .text-section .healthcare-title {
  position: relative;
}
.healthcare-container .text-section .healthcare-title::after {
  content: "";
  position: absolute;
  left: 6%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: black;
  border-radius: 2px;
  margin: 22px 0;
}
.healthcare-container .text-section .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  white-space: pre-line;
}
.healthcare-container .text-section .description {
  margin: 50px 0 0 0;
  font-family: Mulish;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #666;
}
.healthcare-container .text-section .healthcare-btn {
  margin: 3rem 0;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #458FF6;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  color: #458FF6;
  font-weight: bold;
  font-size: 16px;
}
.healthcare-container .text-section .healthcare-btn:hover {
  background-color: #458FF6;
  color: #fff;
}
.healthcare-container .image-section {
  flex: 1;
  max-width: 60%;
  text-align: right;
}
.healthcare-container .image-section .healthcare-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .healthcare-container {
    flex-direction: column;
    align-items: center;
    padding: 6% 10%;
    gap: 20px;
  }
  .healthcare-container .text-section {
    max-width: 100%;
    text-align: center;
  }
  .healthcare-container .text-section .title {
    font-size: 28px;
    line-height: 40px;
  }
  .healthcare-container .image-section {
    max-width: 100%;
    text-align: center;
    margin-top: 20px;
  }
}

.download-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 190px 18% 0;
  gap: 100px;
}
.download-container .text-section {
  flex: 1;
  max-width: 30%;
}
.download-container .text-section .download-title {
  position: relative;
}
.download-container .text-section .download-title::after {
  content: "";
  position: absolute;
  left: 8%;
  transform: translateX(-50%);
  height: 2px;
  width: 50px;
  background-color: black;
  border-radius: 2px;
  margin: 22px 0;
}
.download-container .text-section .title {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  text-align: left;
  white-space: pre-line;
}
.download-container .text-section .description {
  margin: 50px 0 0 0;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  text-align: left;
  color: #666;
}
.download-container .text-section .download-btn {
  margin: 3rem 0;
  padding: 0.8rem 3rem;
  border: 0.1rem solid #458FF6;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  color: #458FF6;
  font-weight: bold;
  font-size: 16px;
}
.download-container .text-section .download-btn:hover {
  background-color: #458FF6;
  color: #fff;
}
.download-container .image-section {
  flex: 1;
  max-width: 60%;
  text-align: right;
}
.download-container .image-section .download-image {
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .download-container {
    flex-direction: column;
    align-items: center;
    padding: 80px 10%;
    gap: 0;
  }
  .download-container .text-section {
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
  .download-container .text-section .title {
    font-size: 28px;
    line-height: 40px;
  }
  .download-container .text-section .description {
    font-size: 16px;
    line-height: 24px;
  }
  .download-container .image-section {
    max-width: 100%;
    text-align: center;
  }
}

.testimonial-section {
  padding: 200px 0 0;
  text-align: center;
  margin: 0 0 110px;
}
.testimonial-section .section-title {
  font-size: 36px;
  color: #fff;
  margin-top: 64px;
  margin-bottom: 20px;
  font-weight: 700;
  line-height: 48px;
}
.testimonial-section .divider {
  width: 60px;
  height: 2px;
  margin: 0 auto;
  border: 1px solid #fff;
}
.testimonial-section .carousel-card {
  position: relative;
  width: 100%;
  max-width: 1120px;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  border-radius: 24px;
  background: linear-gradient(208.18deg, #67C3F3 9.05%, #5A98F2 76.74%);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.testimonial-section .carousel-card .testimonial-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  padding: 72px;
  gap: 160px;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left {
  display: flex;
  align-items: center;
  padding-left: 50px;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left .photo-container {
  margin-right: 20px;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left .photo-container .testimonial-image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 5px solid #fff;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left .testimonial-info {
  color: #fff;
  text-align: left;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left .testimonial-info h5 {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  line-height: 34px;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-left .testimonial-info p {
  margin: 0;
  text-align: justify;
  font-size: 18px;
  font-weight: 400;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-right {
  flex: 1;
  font-size: 19px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}
.testimonial-section .carousel-card .testimonial-content .testimonial-right blockquote {
  color: #f0f0f0;
  margin: 0;
  text-align: justify;
}
.testimonial-section .carousel-controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 60px;
}
.testimonial-section .carousel-controls .carousel-control-prev,
.testimonial-section .carousel-controls .carousel-control-next {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}
.testimonial-section .carousel-indicators {
  display: flex;
  gap: 20px;
  margin: 0 15px;
}
.testimonial-section .carousel-indicators span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: rgba(69, 143, 246, 0.5);
  border-radius: 50%;
  cursor: pointer;
}
.testimonial-section .carousel-indicators span.active {
  background-color: #458FF6;
}
@media (max-width: 768px) {
  .testimonial-section {
    padding: 100px 0;
    margin: 10px;
  }
  .testimonial-section .carousel-card {
    padding: 10px;
  }
  .testimonial-section .carousel-controls {
    gap: 22px;
  }
  .testimonial-section .section-title {
    font-size: 22px;
    line-height: 20px;
  }
  .testimonial-section blockquote p {
    font-size: 15px;
    line-height: 25px;
  }
  .testimonial-section .testimonial-content {
    flex-direction: column;
    align-items: center;
    padding: 30px !important;
    gap: 20px !important;
  }
  .testimonial-section .testimonial-content .testimonial-left {
    padding: 0 !important;
  }
  .testimonial-section .testimonial-content .testimonial-left p {
    font-size: 13px !important;
  }
}
@media (max-width: 768px) and (max-width: 576px) {
  .testimonial-section .testimonial-content .testimonial-content {
    gap: 10px !important;
    padding: 10px !important;
  }
}

.article-section {
  padding: 120px 0;
  background: url("@/assets/images/home/bg_article.png") no-repeat;
  background-size: 80%;
  background-position: right center;
}
.article-section .article-heading {
  font-size: 36px;
  font-weight: 700;
  line-height: 56px;
  height: 56px;
  text-align: center;
}
.article-section .title-line {
  border-radius: 5px;
  width: 56px;
  height: 2px;
  background-color: #000;
  margin: 26px auto 80px;
}
@media (max-width: 576px) {
  .article-section .title-line {
    margin: 78px auto;
  }
}
.article-section .article-grid {
  display: flex;
  overflow-x: auto;
  gap: 64px;
  padding-bottom: 3rem;
  justify-content: center;
}
@media (max-width: 768px) {
  .article-section .article-grid {
    flex-direction: column;
    align-items: center;
  }
}
.article-section .article-card {
  flex: 0 0 300px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 15px 30px -5px rgba(229, 233, 246, 0.4);
  overflow: hidden;
}
.article-section .article-card .article-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.article-section .article-card .article-content {
  padding: 24px;
}
.article-section .article-card .article-content .article-title {
  font-size: 21px;
  font-weight: 700;
  line-height: 32px;
  margin: 0 0 12px 0;
}
.article-section .article-card .article-content .article-description {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 0 0 24px 0;
}
.article-section .article-card .article-content .read-more {
  text-decoration: none;
}
.article-section .article-card .article-content .read-more:hover {
  text-decoration: underline;
}
.article-section .button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 100px;
}
.article-section .button-container .view-all-btn {
  padding: 0.8rem 3rem;
  border: 0.1rem solid #458FF6;
  border-radius: 50px;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  color: #458FF6;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
}
.article-section .button-container .view-all-btn:hover {
  background-color: #458FF6;
  color: #fff;
}

.footer {
  background: url("@/assets/images/home/footer.png") no-repeat;
  background-size: cover;
  background-position: left bottom;
  color: #fff;
  padding: 80px 20px;
}
.footer .container {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  align-items: flex-start;
}
@media (max-width: 1200px) {
  .footer .container {
    padding: 120px 20px 50px;
    display: flex;
    justify-content: center;
  }
}
.footer .logo-container {
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .footer .logo-container {
    flex-basis: 48%;
  }
}
.footer .logo-container .logo {
  max-width: 120px;
  height: auto;
}
.footer .logo-container .description {
  margin: 10px 0 0 146px;
  padding: 5px 230px;
  font-size: 18px;
  text-align: left;
}
@media (max-width: 1400px) {
  .footer .logo-container .description {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
.footer .logo-container .copyright {
  font-size: 16px;
  font-weight: 300;
  line-height: 28px;
  margin: 10px 0 0 186px;
}
@media (max-width: 1200px) {
  .footer .logo-container .copyright {
    text-align: center;
    margin: 0;
    padding: 10px;
  }
}
.footer .footer-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16rem;
}
@media (max-width: 992px) {
  .footer .footer-sections {
    gap: 10rem;
  }
}
@media (max-width: 576px) {
  .footer .footer-sections {
    gap: 3rem;
  }
}
@media (max-width: 375px) {
  .footer .footer-sections {
    gap: 0;
  }
}
.footer .footer-sections .footer-section .heading {
  font-weight: bold;
  margin-bottom: 1.5rem;
  text-align: left;
}
@media (max-width: 780px) {
  .footer .footer-sections .footer-section .heading {
    text-align: center !important;
  }
}
.footer .footer-sections .footer-section ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer .footer-sections .footer-section ul li {
  margin-bottom: 12px;
}
@media (max-width: 780px) {
  .footer .footer-sections .footer-section ul li {
    text-align: center !important;
  }
}
.footer .footer-sections .footer-section ul li .link {
  color: #fff;
  text-decoration: none;
  font-size: 15px;
}
.footer .footer-sections .footer-section ul li .link:hover {
  color: rgb(0, 0, 0);
}
.footer .link {
  text-decoration: none;
  color: #fff;
}
.footer .link:hover {
  text-decoration: underline;
  color: #458FF6;
}

/*# sourceMappingURL=style.css.map */
